# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives :**
* List popular languages for Data Science
* List some of commonly used libraries by Data Scientists
* List of Data Science Tools

### Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. R
4. Julia
5. JavaScript

### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. Seaborn
4. TensorFlow
5. SciPy



| Data Science Tools | 
| -------------
| Jupyter Notebook | 
| RStudio | 
| Apache Spark | 
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python :

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author :
Ali Heidari Deilami